<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056361182889-dfh1gn5uh3k6suoib4afv1rvs5g9eh90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056361182889-dfh1gn5uh3k6suoib4afv1rvs5g9eh90</string>
	<key>API_KEY</key>
	<string>AIzaSyDpvEzDqSSm8_SV-DIM9EpkU-Qy0QLLQfA</string>
	<key>GCM_SENDER_ID</key>
	<string>1056361182889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekoenterprise.ekochatsample</string>
	<key>PROJECT_ID</key>
	<string>eko-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>eko-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056361182889:ios:c9f8cd122973074bac1bb8</string>
	<key>DATABASE_URL</key>
	<string>https://eko-sdk.firebaseio.com</string>
</dict>
</plist>